.tabbar-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 49px;
  font-size: 14px;
  color: #000;
}
.tabbar-item img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 4px 0 2px 0;
}
