.detail-base-info .base-info .info-title {
  margin: 0.5rem 0.5rem;
  font-size: 1rem;
  text-align: left;
}
.detail-base-info .base-info .info-price {
  margin: 0.5rem 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.detail-base-info .base-info .info-price .n-price {
  font-size: 1.5rem;
  color: var(--color-high-text);
}
.detail-base-info .base-info .info-price .o-price {
  margin-left: 0.2rem;
  font-size: 0.8rem;
  color: var(--color-text);
  text-decoration: line-through;
}
.detail-base-info .base-info .info-price .discount {
  margin: 0 0.5rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--color-tint);
  color: #fff;
  font-size: 0.8rem;
}
.detail-base-info .base-info .info-other {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8rem;
  padding: 0.5rem 0 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}
